@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --animate-fade-in-up: fade-in-up 1.5s ease-in-out forwards;
  --animate-float: float 3s ease-in-out infinite;

  @keyframes fade-in-up {
    0% { opacity: 0; transform: translateY(30px); }
    100% { opacity: 1; transform: translateY(0); }
  }

  @keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
}

html { scroll-behavior: smooth; }
